<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Inbox</h6>
  <div class="message-container" data-action="messages">
    <% if @messages.count > 0 %>
      <%= render partial: "message", collection: @messages %>
    <% else %>
      <h4>No messages here!</h4>
    <% end %>
  </div>

  <small class="d-block text-right mt-3">
    <%= link_to get_all_inbox_path, remote: true do %>All updates<% end %>
  </small>
</div>
