<div class="card my-3 ">
  <h5 class="card-header">
    <% if @message.outbox.user.is_doctor? %>Dr.<% end %>
    <%= @message.outbox.user.full_name %>
  </h5>
  <div class="card-body">
    <p class="card-text"><%= @message.body %></p>
    <%= link_to new_message_path, class: "btn btn-primary" do %>
      <% if @reply_to_admin %>
        Reply to admin
      <% else %>
        Reply
      <% end %>
    <% end %>
    <% if @message.inbox == User.current.inbox %>
      <%= link_to admin_message_path, remote: true, method: 'post', class: 'btn btn-primary', data: { action: 'admin-button' } do %>
        <span class="text">I've lost my script, please issue a new one at a charge of €10</span>
        <span class="lds-dual-ring d-none loader"></span>
      <% end %>
    <% end %>
  </div>
</div>