<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Nua Messaging</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to messages_path, class: 'nav-link' do %>
          Inbox <% if User.current.inbox.unread_count > 0 %><span class="badge badge-secondary"><%= User.current.inbox.unread_count %></span><% end %>
        <% end  %>
      </li>
      <li class="nav-item active">
        <%= link_to outbox_path, class: 'nav-link' do %>
          Outbox
        <% end  %>
      </li>
    </ul>
  </div>
</nav>